html {
    font-family: sans-serif;
}

body {
    font-family: helvetica, sans-serif;
    width: 350px;
}

label {
    font-weight: bold;
}

div {
    padding-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

p {
    background: #ffc125;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
}

.output * {
    box-sizing: border-box;
}

.output ul {
    padding-left: 0;
}

.output li {
    display: block;
    float: left;
    width: 25%;
    border: 2px solid white;
    padding: 5px;
    height: 40px;
    background-color: #4a2db6;
    color: white;
}

html {
    font-family: sans-serif;
}

h2 {
    font-size: 16px;
}